<mat-card>
    <mat-card-title>Alterar cadastro do Aluno</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Informe seu nome"
                [(ngModel)]="aluno.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Informe seu endereço"
                [(ngModel)]="aluno.endereco" name="endereco">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Informe seu CEP"
                [(ngModel)]="aluno.cep" name="cep">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Informe seu CPF"
                [(ngModel)]="aluno.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Informe seu E-mail"
                [(ngModel)]="aluno.email" name="email">
        </mat-form-field>
           </form>
    <button mat-raised-button (click)="updateAlunos()" color="primary" >
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>