<mat-card>
    <mat-card-title>Excluir Notas</mat-card-title>
    <form>
        <mat-form-field>               
            <input matInput placeholder="Aluno" [(ngModel)]="notas.aluno.nome" name="aluno" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Professor"
                [(ngModel)]="notas.professor.nome" name="professor" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Primeira nota"
               [value]="notas.nota1" name="nota2" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Segunda nota"
               [value]="notas.nota2" name="nota2" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Terceira nota"
               [value]="notas.nota3" name="nota3" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Media!"
               [value]="notas.media" name="media" disabled>
        </mat-form-field>
               
    </form>
    <button mat-raised-button (click)="deleteNotas()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>